/* --- design-system --- */
//font-sizes
.fs-h1 {font-size: var(--fs-huge)} 
.fs-h2 {font-size: var(--fs-large)} 
.fs-h3 {font-size: var(--fs-medium-1)} 
.fs-medium {font-size: var(--fs-medium)}
.fs-normal {font-size: var(--fs-normal)}
.fs-small {font-size: var(--fs-small);}

//font-color
.white {color: var(--clr-white)}
.white-1 {color: var(--clr-white-1)}

//font-family
.ff-grotesk {font-family: var(--ff-grotesk);}
.ff-jost {font-family: var(--ff-jost);}

/* --- regular components --- */

.btn {
    border: 1px solid var(--clr-pink);
    padding: 1rem 3rem;
    font-family: var(--ff-jost);
}

.btn--pink {
    @include default-transition;    
    background-color: var(--clr-pink);

    &:hover {
        background-color: transparent;
    }
}

.primary-heading {
    position: relative;
    
    &::after {
        content: "";
        margin-top: 15px;
        display: block;
        width: 80px;
        height: 2px;
        background-color: var(--clr-pink);
    }
}

