/* --- design-system --- */
//font-sizes
.fs-h1 {font-size: var(--fs-huge)} 
.fs-h2 {font-size: var(--fs-large)} 
.fs-h3 {font-size: var(--fs-medium-1)} 
.fs-medium {font-size: var(--fs-medium)}
.fs-normal {font-size: var(--fs-normal)}
.fs-small {font-size: var(--fs-small);}

//font-color
.white {color: var(--clr-white)}
.white-1 {color: var(--clr-white-1)}

//font-family
.ff-grotesk {font-family: var(--ff-grotesk);}
.ff-jost {font-family: var(--ff-jost);}

/* --- gutter --- */
.gutter-row {
    padding-inline: var(--gutter-small)
}

section {
    padding-block: var(--gutter-huge);
    border-bottom: 1px solid var(--clr-light);
}

/* --- regular components --- */

.btn {
    border: 1px solid var(--clr-pink);
    padding: 1rem 3rem;
    font-family: var(--ff-jost);
}

.btn--pink {
    @include default-transition;    
    background-color: var(--clr-pink);

    &:hover {
        background-color: transparent;
    }
}

.btn--bottom-border {
    border: none;
    border-bottom: 1px solid var(--clr-pink);
    padding: .5rem 1rem;
}

.btn--left-to-right-hover {
    position: relative;

    &:hover::after {
        background-color: var(--clr-pink);
        width: 100%;
    }

    &::after {
        @include default-transition;
        content: "";
        position: absolute;
        background-color: var(--clr-white);
        top: 0;
        left: 0;
        bottom: 0;
        width: 0%;
        z-index: -1;
    }
}

.primary-heading {
    position: relative;
    
    &::after {
        content: "";
        margin-top: 15px;
        display: block;
        width: 80px;
        height: 2px;
        background-color: var(--clr-pink);
    }
}

