// --- CUSTOM VARIABLES ---
:root {
    //colors
    --clr-black: #000;
    --clr-pink: #ff3258;
    --clr-white: #f0e9f2;
    --clr-white-1: #e5e5e6da;

    //font-sizes
    --fs-small: 1.8rem;
    --fs-normal: 1.5rem; //ok
    --fs-medium: 2rem; //ok
    --fs-medium-1: 3.6rem;
    --fs-large: 5.5rem;
    --fs-huge: 4.5rem; //ok

    //font-family
    --ff-grotesk: 'Hk Grotesk', sans-serif;
    --ff-jost: 'Jost', sans-serif;

    //line-height
    --line-height-normal: 1.7;
    --line-height-small: 1.2;

    //container sizes
    --container-max-width: 1180px;
    --container-normal-width: 800px;
    --container-medium-width: 700px; 
    --container-small-width: 500px;

    //media-queries 
    --mq-mobile: 480px;
    --mq-tablet: 768px;
    --mq-laptop: 1024px;
    --mq-desktop: 1440px;
}

@media(min-width: var(--mq-tablet)) {
    :root {

    }
}

@media(min-width: var(--mq-laptop)) {
    :root {
        
    }
}

@media(min-width: var(--mq-desktop)) {
    :root {
        --fs-small: 1.8rem;
        --fs-normal: 2.2rem;
        --fs-medium: 2.8rem;
        --fs-medium-1: 3.6rem;
        --fs-large: 5.5rem;
        --fs-huge: 7.5rem;
    }
}