// --- CUSTOM VARIABLES ---
:root {
    //colors
    --clr-black: #000;
    --clr-pink: #ff3258;
    --clr-light: #e5e5e6da;
    --clr-white: #f0e9f2;

    //font-sizes
    --fs-small: 1.8rem;
    --fs-normal: 2.2rem;
    --fs-medium: 2.8rem;
    --fs-medium-1: 3.6rem;
    --fs-large: 5.5rem;
    --fs-huge: 7.5rem;

    --fs-h1: 44rem;
    --fs-h2: 23rem;
    --fs-h3: 13rem;
    --fs-regular: 12rem;

    //font-family
    --ff-grotesk: 'Hk Grotesk', sans-serif;
    --ff-jost: 'Jost', sans-serif;

    //line-height
    --line-height-normal: 1.7;
    --line-height-small: 1.2;

    //container sizes
    --container-max-width: 1180px;
    --container-normal-width: 800px;
    --container-medium-width: 700px; 
    --container-small-width: 500px;

    --gutter-huge: 12rem;
    --gutter-medium: 6rem;
    --gutter-normal: 3rem;
    --gutter-small-1: 2.5rem;
    --gutter-small: 2rem;
    --gutter-x-small: 1rem;
    --border-light: 1px solid rgb(36, 35, 35);   

    //media-queries 
    --mq-mobile: 480px;
    --mq-tablet: 768px;
    --mq-laptop: 1024px;
    --mq-desktop: 1440px;
}

