.aboutMe {

}

.aboutMe__container-flex {

    & .aboutMe__portrait {
        width: 100%;
        margin-bottom: var(--gutter-medium);
    }

    & .aboutMe__description {
        margin-bottom: var(--gutter-x-small);
    }

    & .aboutMe__description:last-of-type {
        margin-bottom: var(--gutter-normal);
    }

    & .aboutMe__btn {
        display: inline-block;
    }
}

@media(min-width: $mq-tablet) {
    .aboutMe__container-flex {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-areas: "description img";
        gap: 5rem;
        align-items: center;
    }
}