.header {
    background-image: url("/src/assets/header.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.nav {
    padding: 20px;
    
    & .nav__items {
        height: 50px;
        display: flex;
        gap: 3rem;
        justify-content: center;
        align-items: center;

        & .nav__item {
            cursor: pointer;
            position: relative;
            padding-block: 1rem;

            &::after {
                @include default-transition;   
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: .5rem;
                background-color: var(--clr-white);
            }

            &:hover {
                color: var(--clr-pink);

                &::after {
                    background-color: var(--clr-pink);
                    height: 2px;
                    width: 100%;
                }
            }
        
            & .nav__link {
            }
        }
    }
}

.header__row {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.header__intro {
    width: 100%;
    text-align: center;
    
    & .header__title {
    }

    & .header__description {
        padding-block: 3rem;
    }
}

//media queries
@media(min-width: $mq-tablet) {
    .nav {
        & .nav__items {
            justify-content: end;
            gap: 5rem;
        }
    }

    .header__intro {
        text-align: left;
        left: 0%;
        
        & .header__title {
        }
    
        & .header__description {
        }
    }
}

@media(min-width: $mq-laptop) {

}

@media(min-width: $mq-desktop) {

}