@import "./scss_utlity/variables", "./scss_utlity/resets", "./scss_utlity/mixins", "./scss_utlity/components";
//components
@import "./App.scss";
@import "./components/Header/Header.scss";
@import "./components/Main/Main.scss", "./components/Main/MyWork/MyWork.scss", "./components/Main/MyWork/Project.scss", "./components/Main/AboutMe.scss"
, "./components/Main/Contact.scss";

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--font-size-small);
  font-family: var(--font-stack);
  font-weight: 400;
  line-height: var(--line-height-normal);
  background: var(--clr-black);
  color: var(--clr-white);
  overflow-x: hidden;
}

//typography

h1,
h2,
h3 {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    line-height: var(--line-height-small);
    color: var(--white);
}

h2 {
  font-size: var(--fs-large);
  margin-bottom: var(--gutter-medium);
}

h3 {
  font-size: var(--fs-medium-1);
  margin-bottom: var(--gutter-small);
}